@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Alegreya&display=swap');

* {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

body {
  font-family: 'Montserrat', sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

h1,
h2 {
  font-family: 'Alegreya', serif;
}
