#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.avatar {
  width: 500px;
  height: 300px;
  border-radius: 50%;
}

.artist-info {
  display: flex;
  margin-bottom: 50px;
}

.artist-info p {
  text-align: justify;
  font-size: 20px;
  margin-left: 25px;
}

.music-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.music-details {
  display: flex;
  align-items: center;
  border: 2px solid black;
  border-radius: 20px;
  width: 75%;
  background: rgb(61, 61, 61);
}

.music-details img {
  height: 200px;
  border-radius: 20px 0 0 20px;
}

.music-content {
  width: 100%;
  align-items: center;
}

.music-content p {
  margin-left: 10px;
}
